.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 7px;
    text-decoration: none;
    color: black;
    border-radius: 5%;
}

#section-home>header>h1 {
    margin-bottom: 10px;
}

#section-home>article>p {
    font-style: italic;
    font-family: helvetica;
    
}

.photo-banner {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 533.7px;
    width: 948.8px;
}

#section-works>article {
    display: flex;
    justify-content: space-evenly;
}

.works-1 {
    background-image: url(https://pbs.twimg.com/media/GHGl5yeaEAAHyr9?format=jpg&name=4096x4096);
    background-size: cover;
    background-position: center;
    border: 1px solid;
    height: 298.36px;
    width: 300px;
}

.works-2 {
    background-image: url(https://pbs.twimg.com/media/F9ITKW9bsAA3q8E?format=jpg&name=medium);
    background-size: cover;
    background-position: center;
    border: 1px solid;
    height: 298.36px;
    width: 300px;
}

.works-3 {
    background-image: url(https://pbs.twimg.com/media/Fmbv3-GakAIAUF4?format=jpg&name=small);
    background-size: cover;
    background-position: top;
    border: 1px solid;
    height: 298.36px;
    width: 300px;
}

button {
    margin: 7px;
    justify-items: center;
}

.message-container {
    display: flex;
}

form {
    height: fit-content;
}


footer>div {
    text-align: center;
    font-family: serif;
    font-size: small;
}